 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 1200px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  padding: 60px;

  h1 {
    font-size: 60px;
    color: white;
    line-height: 1;
    letter-spacing: -1px;
  }
}

li{
  color: gray;
  border-top: 1px solid HSLA(0, 0%, 73%, 1);
  border-bottom: 1px solid HSLA(0, 0%, 73%, 1);
  border-radius: 10px;
  list-style-type: none;
  background-color: white;
  opacity: .6;

  .authorS a {
    color: HSLA(211, 9%, 49%, 1);
    text-decoration: none;
  }

  .catS {
    margin: 0px 12px;
    padding: 0px 10px 0px 10px;
    border-right: 2px solid HSLA(0, 0%, 73%, 1);
    border-left: 2px solid HSLA(0, 0%, 73%, 1);
    font-size: 0.7em;
  }

  h4 a {
    color:HSLA(211, 43%, 17%, 1);
    text-transform: uppercase;
    opacity: 1.0;
    text-decoration: none;
  }

  .dateS {
    font-size: 0.7em;
  }


}

button{
  border-radius:10px;
}

#textDraft {
  color: red;
}
