 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;
  background-image: URL('http://p1.pichost.me/i/45/1684227.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 1200px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  padding: 30px;

  .header {
    overflow: auto;
    margin-bottom: 30px;
    .box1 {
      float: left;

      a {
        color: HSLA(0, 0%, 99%, 1);
      }

      button {
        background-color: HSLA(211, 9%, 49%, 1);
        padding: 2px 8px 2px 8px;
        border-radius: 8px;
        font-size: 0.6em;
        width: 80px;
        &:hover {
          background-color: HSLA(208, 8%, 69%, 1);
        }
      }
    }

    .box2 {
      float: right;

      #welcomeText {
        color: HSLA(208, 8%, 69%, 1);
      }

      a {
        color: HSLA(0, 0%, 99%, 1);
      }

      button {
        background-color: HSLA(211, 9%, 49%, 1);
        padding: 2px 8px 2px 8px;
        border-radius: 8px;
        font-size: 0.6em;
        width: 80px;
        &:hover {
          background-color: HSLA(208, 8%, 69%, 1);
        }
      }
    }
  }

  .blogTitle {
    text-align: center;
    margin-bottom: 60px;
  }

}

.allPosts {
  clear: both;
}

li {
  clear: both;
  margin-top: 20px;
  border-top: 1px solid HSLA(0, 0%, 73%, 1);
  border-radius: 10px;
  list-style-type: none;
  background-color: white;
  opacity: .6;
  padding-left:25px;

  a {
    color: HSLA(0, 0%, 99%, 1);
  }

  .authorS a {
    color: HSLA(211, 9%, 49%, 1);
    text-decoration: none;
  }

  .catS {
    margin: 0px 12px;
    padding: 0px 10px 0px 10px;
    border-right: 2px solid HSLA(0, 0%, 73%, 1);
    border-left: 2px solid HSLA(0, 0%, 73%, 1);
    font-size: 0.7em;
  }

  h4 a {
    color: HSLA(211, 43%, 17%, 1);
    text-transform: uppercase;
    opacity: 1.0;
    text-decoration: none;
  }

  .dateS {
    font-size: 0.7em;
  }

}

.editBtn {
  display: block;
  float: right;
  background-color: HSLA(211, 9%, 49%, 1);
  padding: 2px 8px 2px 8px;
  border-radius: 8px;
  font-size: 0.6em;
  width: 80px;
  &:hover {
    background-color: HSLA(208, 8%, 69%, 1);
  }
}

#textDraft {
  color: red;
}

.hide {
  display: none;
}

#post_title{
  display:block;
}



#post_content{
  display:block;
  margin-top:30px;
}

#publishPost{
  margin-top:30px;
}

#addForm{

  button{
  color:black;
  border-radius: 10px;
  }
}

#logIn{
  #username{
    display:block;
  }
  #password{
    display:block;
    margin-top:10px;
  }
  button{
    display:block;
    margin-top:10px;
  }
}

#signUp{
  #username{
    display:block;
  }
  #password{
    display:block;
    margin-top:10px;
  }
  button{
    display:block;
    margin-top:10px;
  }
}

.singlePost{
  text-align:center;

  .jumbo{
    font-size:2.8em;
  }

}

.commentS{
  text-align:center;



  #commentAuthor{
    display:block;
  }
  #commentText{
    display:block;
  }
  button{
    display:block;
  }

}
