<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>travel_blog</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="hero-unit">

      <div class="header">
        <span id="loggedIn"></span>
        <a href="#/login"><button>Log In</button></a>
        <a href="#/signup"><button>Sign Up</button></a>
        <button id="logOut">Log Out</button>
        <button id="cus"></button>
      </div>

      <div id="blogPosts"></div>
    </div>


    <script type="text/template" id="postTemp">
      <li id="<%= objectId %>">
        <a href="#/post/<%= objectId %>"><h4><%= title %></h4></a>
        <p><%= content %></p>
        <p><%= category %></p>
      </li>
    </script>

    <script type="text/template" id="loginForm">
      <form id="logIn">
        <input id="username" type="text" placeholder="Enter User Name" />
        <input id="password" type="password" placeholder="Enter Password" />
        <button>Log In 2</button>
      </form>
    </script>

    <script type="text/template" id="signupForm">
      <form id="signUp">
        <input id="username" type="text" placeholder="Enter User Name" />
        <input id="password" type="password" placeholder="Enter Password" />
        <button>Sign Up</button>
      </form>
    </script>

    <script type="text/template" id="userTemp">
      <a href="#/"><button>Home</button></a>
      <a href="#/add"><button>Add Post</button></a>
      <li id="<%= objectId %>">
        <a href="#/post/<%= objectId %>"><h4><%= title %></h4></a>
        <p><%= content %></p>
        <p><%= category %></p>
      </li>
      <a href="#/edit/<%= objectId %>"><button id="editPost">Edit</button></a>
    </script>

    <script type="text/template" id="addTemp">
      <a href="#/user"><button>Cancel</button></a>
      <form id="addForm">
        <input type="text" id="post_title" />
        <textarea id="post_content"></textarea>
        <button id="publishPost">Publish</button>
        <button id="draftPost">Save As Draft</button>
          <div class="select_categories">
            <label>
              <input type="checkbox" name="category" value="1" <% if (category == "1") { %>checked<% } %>>
              <span>1</span>
            </label>
            <label>
              <input type="checkbox" name="category" value="2" <% if (category == "2") { %>checked<% } %>>
              <span>2</span>
            </label>
            <label>
              <input type="checkbox" name="category" value="3" <% if (category == "3") { %>checked<% } %>>
              <span>3</span>
            </label>
            <label>
              <input type="checkbox" name="category" value="4" <% if (category == "4") { %>checked<% } %>>
              <span>4</span>
            </label>
            <label>
              <input type="checkbox" name="category" value="5" <% if (category == "5") { %>checked<% } %>>
              <span>5</span>
            </label>
          </div>
      </form>
    </script>

    <script type="text/template" id="editTemp">
      <a href="#/user"><button>Cancel</button></a>
      <form id="editForm">
        <div class="<%= objectId %>">
          <input type="text" value="<%= title %>" id="update_post_title" />
          <textarea id="update_post_content"><%= content %></textarea>
          <button id="updatePost">Update Post</button>
            <div class="selectCategories">
              <label>
                <input type="checkbox" name="category" value="1" <% if (category == "1") { %>checked<% } %>>
                <span>1</span>
              </label>
              <label>
                <input type="checkbox" name="category" value="2" <% if (category == "2") { %>checked<% } %>>
                <span>2</span>
              </label>
              <label>
                <input type="checkbox" name="category" value="3" <% if (category == "3") { %>checked<% } %>>
                <span>3</span>
              </label>
              <label>
                <input type="checkbox" name="category" value="4" <% if (category == "4") { %>checked<% } %>>
                <span>4</span>
              </label>
              <label>
                <input type="checkbox" name="category" value="5" <% if (category == "5") { %>checked<% } %>>
                <span>5</span>
              </label>
            </div>
            <button id="delete">Delete</button>
          </div>
        </form>
    </script>

    <script type="text/template" id="singleTemp">
      <a href="#/"><button>Home</button></a>
      <li id="<%= objectId %>">
        <h3><%= title %></h3>
        <p><%= content %></p>
        <p><%= category %></p>
        <span>Link Up Comments Here</span>
      </li>
    </script>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>


    <!-- endbower -->
    <!-- endbuild -->

    <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>

    <script type="text/javascript">
      window.App = {};
      App.Models = {};
      App.Collections = {};
      App.Views = {};
      App.Routers = {};
    </script>

        <!-- build:js scripts/main.js -->

        <script src="scripts/models/post_model.js"></script>
        <script src="scripts/collections/post_collection.js"></script>
        <script src="scripts/views/home_view.js"></script>
        <script src="scripts/views/signup_view.js"></script>
        <script src="scripts/views/login_view.js"></script>
        <script src="scripts/views/user_view.js"></script>
        <script src="scripts/views/add_view.js"></script>
        <script src="scripts/views/edit_view.js"></script>
        <script src="scripts/views/single_view.js"></script>
        <script src="scripts/routes/app_router.js"></script>
        <script src="scripts/main.js"></script>


        <!-- endbuild -->
</body>
</html>
